.menu-test
    button.auth-btn auth
    button.dark-btn dark
    button.lng-btn en
.fav-page#lvlUp
    .welcome
        .welcome__img
            picture
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/welcome/pers-mob.png")
                source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/welcome/pers-desc.png")
                source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="img/welcome/pers-tab.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/welcome/pers-desc.png")
                img(src="img/welcome/pers-desc.png" alt="Favbet")
        .welcome__logo.topAnimHide
            picture.uk
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/welcome/logo-mob.png")
                source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/welcome/logo-desc.png")
                source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="img/welcome/logo-mob.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/welcome/logo-desc.png")
                img(src="img/welcome/logo-desc.png" alt="Favbet")
            picture.en
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/welcome/logo-mob-en.png")
                source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/welcome/logo-desc-en.png")
                source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="img/welcome/logo-mob-en.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/welcome/logo-desc-en.png")
                img(src="img/welcome/logo-desc-en.png" alt="Favbet")
        .welcome__text.topAnimHide
            picture.uk
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/welcome/text-mob.png")
                source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/welcome/text-desc.png")
                source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="img/welcome/text-mob.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/welcome/text-desc.png")
                img(src="img/welcome/text-desc.png" alt="Favbet")
            picture.en
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/welcome/text-mob-en.png")
                source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/welcome/text-desc-en.png")
                source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="img/welcome/text-mob-en.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/welcome/text-desc-en.png")
                img(src="img/welcome/text-desc-en.png" alt="Favbet")
        .welcome__prize.topAnimHide
            picture
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/welcome/prize-mob.png")
                source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/welcome/prize-desc.png")
                source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="img/welcome/prize-mob.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/welcome/prize-desc.png")
                img(src="img/welcome/prize-desc.png" alt="Favbet")
        .welcome__btn.btn.took-part.hide #[span(data-translate="joinBtn") взяти участь]
        a.welcome__btn.btn.unauth-msgs.hide(href="/login") #[span(data-translate="authBtn") авторизуйся]
        a.welcome__btn.btn.play-btn.hide(href="#") #[span(data-translate="playBtn") Робити ставки]
        .welcome__bottom(data-translate="welcomeBottom") Бери участь в Акції «Левел Ап», роби ставки від 300 ₴ на кіберспортивні події та розділяй призовий фонд у розмірі 1 000 000 ₴.
    .info
        .info__title.title(data-translate="infoTitle") як взяти участь?
        .info__list
            .info__item
                .info__item-num
                    picture.light
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/info/step-1-mob.png")
                        source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/info/step-1.png")
                        source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="img/info/step-1.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/info/step-1.png")
                        img(src="img/info/step-1.png" alt="Favbet")
                    picture.dark
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/info/step-1-dark-mob.png")
                        source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/info/step-1-dark.png")
                        source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="img/info/step-1-dark.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/info/step-1-dark.png")
                        img(src="img/info/step-1-dark.png" alt="Favbet")
                .info__item-text(data-translate="infoText1") Натисни кнопку «Взяти <br> Участь»
            .info__item
                .info__item-num
                    picture.light
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/info/step-2-mob.png")
                        source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/info/step-2.png")
                        source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="img/info/step-2.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/info/step-2.png")
                        img(src="img/info/step-2.png" alt="Favbet")
                    picture.dark
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/info/step-2-dark-mob.png")
                        source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/info/step-2-dark.png")
                        source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="img/info/step-2-dark.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/info/step-2-dark.png")
                        img(src="img/info/step-2-dark.png" alt="Favbet")
                .info__item-text(data-translate="infoText2") Роби виграшні ставки на <br> кіберспорт
            .info__item
                .info__item-num
                    picture.light
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/info/step-3-mob.png")
                        source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/info/step-3.png")
                        source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="img/info/step-3.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/info/step-3.png")
                        img(src="img/info/step-3.png" alt="Favbet")
                    picture.dark
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/info/step-3-dark-mob.png")
                        source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/info/step-3-dark.png")
                        source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="img/info/step-3-dark.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/info/step-3-dark.png")
                        img(src="img/info/step-3-dark.png" alt="Favbet")
                .info__item-text(data-translate="infoText3") Набирай бали і забирай бонуси
        .drop
            details.dropdown
                summary(data-translate="detailsTitle") Деталі
                .drop-txt
                    .drop-txt-list(data-translate="detailsTxt")
                        p 1. Натисни кнопку «Взяти Участь»
                        p 2. Роби виграшні ставки на кіберспортЗ 14 квітня  до 5 травня 2025 року роби виграшні ставки від 300 ₴ на будь-які кіберспортивні події та заробляй 1 бал за кожні розраховані 300 ₴. Ставки повинні бути розраховані з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар) або від 3.5 (експрес від 3 подій), без здійснення ставок з Бонусного балансу, використання бонуса «Страховка ставки», «CashOut», «Повернення ставки» та ставок у розділі «Cybersport (Pinnacle)» та «Fantasy Football».
                        p 3. Набирай бали та вигравай призи Чим більше балів, тим більше шансів здобути бонус. Бали нараховуватимуться та відображатимуться в таблиці «Результати». Після завершення кожного з трьох акційних тижнів бонуси отримають 300 переможців, які наберуть найбільше балів.
                        p 1. Натисни кнопку «Взяти Участь»
                        p 2. Роби виграшні ставки на кіберспортЗ 14 квітня  до 5 травня 2025 року роби виграшні ставки від 300 ₴ на будь-які кіберспортивні події та заробляй 1 бал за кожні розраховані 300 ₴. Ставки повинні бути розраховані з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар) або від 3.5 (експрес від 3 подій), без здійснення ставок з Бонусного балансу, використання бонуса «Страховка ставки», «CashOut», «Повернення ставки» та ставок у розділі «Cybersport (Pinnacle)» та «Fantasy Football».
                        p 3. Набирай бали та вигравай призи Чим більше балів, тим більше шансів здобути бонус. Бали нараховуватимуться та відображатимуться в таблиці «Результати». Після завершення кожного з трьох акційних тижнів бонуси отримають 300 переможців, які наберуть найбільше балів.
        .info__btn.btn.took-part.hide #[span(data-translate="joinBtn") взяти участь]
        a.info__btn.btn.unauth-msgs.hide(href="/login") #[span(data-translate="authBtn") авторизуйся]
        a.info__btn.btn.play-btn.hide(href="#") #[span(data-translate="playBtn") Робити ставки]
    .results
        .results__title.title(data-translate="resultsTitle") Результати
        .results__tabs
            .results__tabs-item._active 14.04 - 20.04
            .results__tabs-item 21.04 - 27.04
            .results__tabs-item 28.04 - 04.05
        .results__prize
            .results__prize-title(data-translate="resultsPrizeTitle") тижневий призовий фонд
            .results__prize-amount(data-translate="resultsPrizeAmount") 300 000 ₴
        .tableResults
            .tableResults__head
                .tableResults__head-col(data-translate="tablePlace") місце
                .tableResults__head-col(data-translate="tableId") ID гравця
                .tableResults__head-col(data-translate="tablePoints") Бали
                .tableResults__head-col(data-translate="tablePrize") Приз
            .tableResults__wrapp
                .tableResults__body#results-table
                    .tableResults__row.place1
                        .tableResults__row-item 1
                        .tableResults__row-item **0330893
                        .tableResults__row-item 66.67
                        .tableResults__row-item 55 000 ₴
                    .tableResults__row.place2
                        .tableResults__row-item 2
                        .tableResults__row-item **0330893
                        .tableResults__row-item 66.67
                        .tableResults__row-item 40 000 ₴
                    .tableResults__row.place3
                        .tableResults__row-item 3
                        .tableResults__row-item **0330893
                        .tableResults__row-item 66.67
                        .tableResults__row-item 30 000 ₴
                    .tableResults__row
                        .tableResults__row-item 4
                        .tableResults__row-item **0330893
                        .tableResults__row-item 66.67
                        .tableResults__row-item 19 000 ₴
                    .tableResults__row
                        .tableResults__row-item 5
                        .tableResults__row-item **0330893
                        .tableResults__row-item 66.67
                        .tableResults__row-item 15 000 ₴
                    .tableResults__row
                        .tableResults__row-item 6
                        .tableResults__row-item **0330893
                        .tableResults__row-item 66.67
                        .tableResults__row-item 12 000 ₴
                    .tableResults__row
                        .tableResults__row-item 7
                        .tableResults__row-item **0330893
                        .tableResults__row-item 66.67
                        .tableResults__row-item 9 500 ₴
                    .tableResults__row
                        .tableResults__row-item 8
                        .tableResults__row-item **0330893
                        .tableResults__row-item 66.67
                        .tableResults__row-item 8 000 ₴
                    .tableResults__row
                        .tableResults__row-item 9
                        .tableResults__row-item **0330893
                        .tableResults__row-item 66.67
                        .tableResults__row-item 6 500 ₴
                    .tableResults__row
                        .tableResults__row-item 10
                        .tableResults__row-item **0330893
                        .tableResults__row-item 66.67
                        .tableResults__row-item 5 000 ₴
                .tableResults__body-other#results-table-other
                    .tableResults__your-title(data-translate="yourResult") Твій результат
                    .tableResults__row._your
                        .tableResults__row-item 1000
                        .tableResults__row-item **0330893
                        .tableResults__row-item 66.67
                        .tableResults__row-item 5 000 ₴
        .results__btn.btn.took-part.hide #[span(data-translate="joinBtn") взяти участь]
        a.results__btn.btn.unauth-msgs.hide(href="/login") #[span(data-translate="authBtn") авторизуйся]
        a.results__btn.btn.play-btn.hide(href="#") #[span(data-translate="playBtn") Робити ставки]
        .results__bottom(data-translate="resultsBottom") *Загальний призовий фонд Акції «Левел Ап» складається з 1 000 000 електронних грошових замінників. Деталі на сайті www.favbet.ua. Період дії акції – з 14.04.2025 до 04.05.2025 року
        .drop
            details.dropdown
                summary(data-translate="rulesTitle") правила
                .drop-txt
                    .drop-txt-list(data-translate="rulesTxt")
                        p 1. Натисни кнопку «Взяти Участь»
                        p 2. Роби виграшні ставки на кіберспортЗ 14 квітня  до 5 травня 2025 року роби виграшні ставки від 300 ₴ на будь-які кіберспортивні події та заробляй 1 бал за кожні розраховані 300 ₴. Ставки повинні бути розраховані з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар) або від 3.5 (експрес від 3 подій), без здійснення ставок з Бонусного балансу, використання бонуса «Страховка ставки», «CashOut», «Повернення ставки» та ставок у розділі «Cybersport (Pinnacle)» та «Fantasy Football».
                        p 3. Набирай бали та вигравай призи Чим більше балів, тим більше шансів здобути бонус. Бали нараховуватимуться та відображатимуться в таблиці «Результати». Після завершення кожного з трьох акційних тижнів бонуси отримають 300 переможців, які наберуть найбільше балів.
